<h1 mat-dialog-title>Object stats for {{ object.Name }}</h1>
<div mat-dialog-content>
    <div class="info-row">
        <span> Full Path </span>
        <span>{{ object.Key }}</span>
    </div>
    <div class="info-row">
        <span> Size </span>
        <span>{{ object.Size | filesize }}</span>
     </div>
    <div class="info-row">
        <span> Last Modified </span>
        <span>{{ object.LastModified | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
    </div>
    <div class="info-row">
        <span> Owner </span>
        <span>{{ object.Owner.DisplayName }} (id: {{ object.Owner.ID }})</span>
    </div>
</div>