@import "../../../../varibales.scss";

.mat-dialog-title {
    padding: 20px!important;
    background-color: $primary;
    padding: 0;
    margin: 0;
}
.mat-dialog-content {
    padding: 20px 35px;
    .info-row {
        display: flex;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        overflow: hidden;
        span:nth-child(1n) {
            width: 30%;
        }
        span:nth-child(2n) {
            width: 70%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
        }
    }
    padding-bottom: 20px;
}
.mat-dialog-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0;
}