
.bucket-tree {
  display: block;
  width: 100%;
  height: 100%;
}

mat-accordion {
  display: block;
  width: 100%;
}
mat-expansion-panel {
  display: block;
  width: 100%;
}

app-bucket {
  display: block;
  width: 100%;
}