@import "../../../../varibales.scss";

.bucket-tree {
  display: block;
  width: 100%;
  max-height: 100%;
}

mat-accordion {
  display: block;
  width: 100%;
}
mat-expansion-panel {
  display: block;
  width: 100%;
}
mat-sidenav-container {
  display: inline-block;
  width: 10%;
  height: 100%;
  background-color: #00000010;
  margin-right: 1%;
  color: $primary;
}

#bucket-tree {
  position: absolute;
  width: 85%;
  left: 15%;
  top: 10%;
}
.sidenav {
  position: absolute;
  width: 15%;
  left: 0%;
  top: 10%;
}
#menu {
  span {
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
    button, a {
      padding: 5px 0;
      width: 100%;
    }
  }
}