-i https://pypi.org/simple/
attrs==20.3.0
boto3==1.10.36
botocore==1.13.50
click==7.1.2
docutils==0.15.2
flask-session==0.3.1
flask==1.1.1
importlib-metadata==4.0.1 ; python_version < '3.8'
itsdangerous==1.1.0
jinja2==2.11.3
jmespath==0.10.0
jsonschema==3.2.0
markupsafe==1.1.1
more-itertools==8.7.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==5.3.1
python-dateutil==2.8.1 ; python_version >= '2.7'
redis==3.3.11
s3transfer==0.2.1
six==1.15.0
typing-extensions==3.7.4.3 ; python_version < '3.8'
urllib3==1.25.8
wcwidth==0.2.5
werkzeug==1.0.1
zipp==3.4.1
