@import "../../../varibales.scss";

app-delete-bucket-modal {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.mat-dialog-content {
    width: 100%;
    height: 60%;
    mat-form-field {
        width: 70%;
    }
}
.mat-dialog-actions {
    .close-button {
        margin-left: auto;
    }
}
.danger {
    color: $primary;
    // background-color: $warn!important;
}


.mat-dialog-container {
    display: inline-block;
    width: 100%;
    height: 100%;
}